--
-- PostgreSQL database dump
--

\restrict PxQbz9OoUWlYx13hBltzTaol8kyb14wns5gYIUMSHky8LNlYZdOtuiCgnspWzvw

-- Dumped from database version 16.13 (Debian 16.13-1.pgdg12+1)
-- Dumped by pg_dump version 16.13 (Debian 16.13-1.pgdg12+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


--
-- Name: vector; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS vector WITH SCHEMA public;


--
-- Name: EXTENSION vector; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION vector IS 'vector data type and ivfflat and hnsw access methods';


--
-- Name: acceptance_status_type; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.acceptance_status_type AS ENUM (
    'accepted',
    'rejected',
    'advisory',
    'escalated',
    'skipped'
);


ALTER TYPE public.acceptance_status_type OWNER TO postgres;

--
-- Name: ai_provider_type; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.ai_provider_type AS ENUM (
    'openai',
    'anthropic'
);


ALTER TYPE public.ai_provider_type OWNER TO postgres;

--
-- Name: approval_level_type; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.approval_level_type AS ENUM (
    'auto',
    'manager',
    'cfo'
);


ALTER TYPE public.approval_level_type OWNER TO postgres;

--
-- Name: approval_status_type; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.approval_status_type AS ENUM (
    'pending',
    'approved',
    'rejected',
    'escalated',
    'auto_approved'
);


ALTER TYPE public.approval_status_type OWNER TO postgres;

--
-- Name: audit_event_type; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.audit_event_type AS ENUM (
    'discover',
    'normalize',
    'score',
    'negotiate',
    'approve',
    'confirm',
    'override',
    'erp_sync',
    'notification'
);


ALTER TYPE public.audit_event_type OWNER TO postgres;

--
-- Name: channel_type; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.channel_type AS ENUM (
    'web',
    'slack',
    'teams'
);


ALTER TYPE public.channel_type OWNER TO postgres;

--
-- Name: embedding_model_type; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.embedding_model_type AS ENUM (
    'text-embedding-3-large',
    'e5-large-v2'
);


ALTER TYPE public.embedding_model_type OWNER TO postgres;

--
-- Name: erp_sync_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.erp_sync_status AS ENUM (
    'success',
    'failed',
    'pending'
);


ALTER TYPE public.erp_sync_status OWNER TO postgres;

--
-- Name: erp_sync_type; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.erp_sync_type AS ENUM (
    'budget_check',
    'po_creation',
    'goods_receipt',
    'invoice_matching'
);


ALTER TYPE public.erp_sync_type OWNER TO postgres;

--
-- Name: erp_system_type; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.erp_system_type AS ENUM (
    'sap_s4hana',
    'oracle_erp_cloud'
);


ALTER TYPE public.erp_system_type OWNER TO postgres;

--
-- Name: governance_status_type; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.governance_status_type AS ENUM (
    'active',
    'review_triggered',
    'deprecated'
);


ALTER TYPE public.governance_status_type OWNER TO postgres;

--
-- Name: idp_provider_type; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.idp_provider_type AS ENUM (
    'keycloak',
    'okta',
    'azure_ad'
);


ALTER TYPE public.idp_provider_type OWNER TO postgres;

--
-- Name: intent_class_type; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.intent_class_type AS ENUM (
    'procurement',
    'query',
    'support',
    'out_of_scope'
);


ALTER TYPE public.intent_class_type OWNER TO postgres;

--
-- Name: memory_entity_type; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.memory_entity_type AS ENUM (
    'transaction',
    'negotiation',
    'seasonal',
    'supplier',
    'override'
);


ALTER TYPE public.memory_entity_type OWNER TO postgres;

--
-- Name: model_name_type; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.model_name_type AS ENUM (
    'intent_parsing',
    'comparison_scoring',
    'negotiation_strategy',
    'memory_retrieval'
);


ALTER TYPE public.model_name_type OWNER TO postgres;

--
-- Name: negotiation_strategy_type; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.negotiation_strategy_type AS ENUM (
    'aggressive',
    'accept_margin',
    'advisory',
    'escalate',
    'skipped'
);


ALTER TYPE public.negotiation_strategy_type OWNER TO postgres;

--
-- Name: notification_channel_type; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.notification_channel_type AS ENUM (
    'slack',
    'teams',
    'email'
);


ALTER TYPE public.notification_channel_type OWNER TO postgres;

--
-- Name: po_status_type; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.po_status_type AS ENUM (
    'pending',
    'confirmed',
    'shipped',
    'delivered',
    'cancelled'
);


ALTER TYPE public.po_status_type OWNER TO postgres;

--
-- Name: procurement_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.procurement_status AS ENUM (
    'draft',
    'parsing',
    'discovering',
    'scoring',
    'negotiating',
    'pending_approval',
    'confirmed',
    'cancelled'
);


ALTER TYPE public.procurement_status OWNER TO postgres;

--
-- Name: user_role; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.user_role AS ENUM (
    'requester',
    'approver',
    'admin'
);


ALTER TYPE public.user_role OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: agent_memory_vectors; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.agent_memory_vectors (
    vector_id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    source_request_id uuid,
    entity_type public.memory_entity_type NOT NULL,
    embedding_vector public.vector(3072) NOT NULL,
    metadata jsonb DEFAULT '{}'::jsonb NOT NULL,
    embedding_model public.embedding_model_type DEFAULT 'text-embedding-3-large'::public.embedding_model_type NOT NULL,
    indexed_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.agent_memory_vectors OWNER TO postgres;

--
-- Name: TABLE agent_memory_vectors; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.agent_memory_vectors IS 'PostgreSQL pgvector mirror of Qdrant store. Primary store: Qdrant (HNSW, < 100ms latency target).';


--
-- Name: COLUMN agent_memory_vectors.source_request_id; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.agent_memory_vectors.source_request_id IS 'NULL for externally sourced embeddings (seasonal trends, supplier catalogs).';


--
-- Name: COLUMN agent_memory_vectors.embedding_vector; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.agent_memory_vectors.embedding_vector IS 'High-dimensional vector(3072) for text-embedding-3-large; vector(1024) for e5-large-v2.';


--
-- Name: COLUMN agent_memory_vectors.metadata; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.agent_memory_vectors.metadata IS 'Typed payload for retrieval: transaction|negotiation|seasonal|supplier|override schemas.';


--
-- Name: approval_decisions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.approval_decisions (
    approval_id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    negotiation_id uuid NOT NULL,
    requester_id uuid NOT NULL,
    approver_id uuid,
    approval_level public.approval_level_type NOT NULL,
    amount_total numeric(15,2) NOT NULL,
    status public.approval_status_type DEFAULT 'pending'::public.approval_status_type NOT NULL,
    is_emergency boolean DEFAULT false NOT NULL,
    deadline_at timestamp without time zone,
    notification_channel public.notification_channel_type NOT NULL,
    decided_at timestamp without time zone,
    CONSTRAINT approval_decisions_amount_total_check CHECK ((amount_total > (0)::numeric))
);


ALTER TABLE public.approval_decisions OWNER TO postgres;

--
-- Name: TABLE approval_decisions; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.approval_decisions IS 'Approval state machine. Routing: amount <= requester.thresholdÔåÆauto | <= approver.thresholdÔåÆmanager | elseÔåÆcfo.';


--
-- Name: COLUMN approval_decisions.approver_id; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.approval_decisions.approver_id IS 'NULL for auto-approvals (approval_level=auto).';


--
-- Name: COLUMN approval_decisions.amount_total; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.approval_decisions.amount_total IS 'Total order value: final_price ├ù quantity. Compared against RBAC thresholds for routing.';


--
-- Name: COLUMN approval_decisions.deadline_at; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.approval_decisions.deadline_at IS '60-minute countdown for is_emergency=TRUE; if expired without decision ÔåÆ status=auto_approved.';


--
-- Name: audit_trail_events; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.audit_trail_events (
    event_id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    request_id uuid,
    po_id uuid,
    actor_id uuid,
    event_type public.audit_event_type NOT NULL,
    agent_action text NOT NULL,
    reasoning_payload jsonb DEFAULT '{}'::jsonb NOT NULL,
    kafka_offset bigint NOT NULL,
    splunk_indexed boolean DEFAULT false NOT NULL,
    event_timestamp timestamp without time zone DEFAULT now() NOT NULL,
    retention_until timestamp without time zone DEFAULT (now() + '7 years'::interval) NOT NULL
);


ALTER TABLE public.audit_trail_events OWNER TO postgres;

--
-- Name: TABLE audit_trail_events; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.audit_trail_events IS 'Complete agent decision log with reasoning. Retention ÔëÑ 7 years (SOX 404 / GDPR / IT Act 2000).';


--
-- Name: COLUMN audit_trail_events.actor_id; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.audit_trail_events.actor_id IS 'NULL for autonomous agent decisions; set when a human performed the action.';


--
-- Name: COLUMN audit_trail_events.reasoning_payload; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.audit_trail_events.reasoning_payload IS 'Complete reasoning: inputs, outputs, scores, LLM traces (LangSmith).';


--
-- Name: COLUMN audit_trail_events.kafka_offset; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.audit_trail_events.kafka_offset IS 'Kafka offset on the relevant topic; used for event correlation and replay.';


--
-- Name: COLUMN audit_trail_events.splunk_indexed; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.audit_trail_events.splunk_indexed IS 'TRUE once ingested by Splunk/ServiceNow SIEM pipeline.';


--
-- Name: beckn_intents; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.beckn_intents (
    beckn_intent_id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    intent_id uuid NOT NULL,
    item character varying(255) NOT NULL,
    descriptions jsonb DEFAULT '[]'::jsonb NOT NULL,
    quantity integer NOT NULL,
    unit character varying(50) NOT NULL,
    location_coordinates character varying(50) NOT NULL,
    delivery_timeline_hours integer NOT NULL,
    budget_min numeric(15,2),
    budget_max numeric(15,2),
    currency character(3) DEFAULT 'INR'::bpchar NOT NULL,
    compliance_requirements jsonb DEFAULT '[]'::jsonb NOT NULL,
    CONSTRAINT beckn_intents_budget_max_check CHECK ((budget_max >= (0)::numeric)),
    CONSTRAINT beckn_intents_budget_min_check CHECK ((budget_min >= (0)::numeric)),
    CONSTRAINT beckn_intents_delivery_timeline_hours_check CHECK ((delivery_timeline_hours > 0)),
    CONSTRAINT beckn_intents_quantity_check CHECK ((quantity > 0)),
    CONSTRAINT chk_budget_range CHECK (((budget_min IS NULL) OR (budget_max IS NULL) OR (budget_min <= budget_max)))
);


ALTER TABLE public.beckn_intents OWNER TO postgres;

--
-- Name: TABLE beckn_intents; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.beckn_intents IS 'Boundary between NL and Beckn protocol. Units: GPS coords, hours, ISO 4217 currency.';


--
-- Name: COLUMN beckn_intents.descriptions; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.beckn_intents.descriptions IS 'List of atomic technical specifications, e.g. ["80gsm", "white", "ISO 216"].';


--
-- Name: COLUMN beckn_intents.location_coordinates; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.beckn_intents.location_coordinates IS 'GPS coordinates in "lat,lon" format, e.g. "12.9716,77.5946".';


--
-- Name: COLUMN beckn_intents.compliance_requirements; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.beckn_intents.compliance_requirements IS 'Required certifications, e.g. ["ISO 27001", "BIS"].';


--
-- Name: bpp; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.bpp (
    bpp_id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying(255) NOT NULL,
    network_id character varying(100) NOT NULL,
    endpoint_url character varying(500) NOT NULL,
    reliability_score double precision DEFAULT 0.5 NOT NULL,
    on_time_delivery_rate double precision DEFAULT 0.5 NOT NULL,
    registered_at timestamp without time zone DEFAULT now() NOT NULL,
    last_seen_at timestamp without time zone DEFAULT now() NOT NULL,
    CONSTRAINT bpp_on_time_delivery_rate_check CHECK (((on_time_delivery_rate >= (0.0)::double precision) AND (on_time_delivery_rate <= (1.0)::double precision))),
    CONSTRAINT bpp_reliability_score_check CHECK (((reliability_score >= (0.0)::double precision) AND (reliability_score <= (1.0)::double precision)))
);


ALTER TABLE public.bpp OWNER TO postgres;

--
-- Name: TABLE bpp; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.bpp IS 'Sellers (Beckn Provider Platforms) registered on the Beckn/ONDC network.';


--
-- Name: COLUMN bpp.endpoint_url; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.bpp.endpoint_url IS 'URL of the /bpp/receiver/* endpoint.';


--
-- Name: COLUMN bpp.reliability_score; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.bpp.reliability_score IS 'Historical reliability score [0.0ÔÇô1.0] computed by Agent Memory.';


--
-- Name: COLUMN bpp.on_time_delivery_rate; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.bpp.on_time_delivery_rate IS 'Fraction of orders delivered on time [0.0ÔÇô1.0].';


--
-- Name: catalog_cache; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.catalog_cache (
    cache_key character varying(500) NOT NULL,
    query_id uuid NOT NULL,
    cached_offerings jsonb DEFAULT '[]'::jsonb NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    expires_at timestamp without time zone DEFAULT (now() + '00:15:00'::interval) NOT NULL
);


ALTER TABLE public.catalog_cache OWNER TO postgres;

--
-- Name: TABLE catalog_cache; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.catalog_cache IS 'PostgreSQL audit mirror of Redis catalog cache (TTL 15 min). Primary store: Redis 7.';


--
-- Name: COLUMN catalog_cache.cache_key; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.catalog_cache.cache_key IS 'Composite key format: {item_normalized}:{lat}:{lon}.';


--
-- Name: COLUMN catalog_cache.expires_at; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.catalog_cache.expires_at IS 'Mirrors Redis TTL (created_at + 15 min). Expiry enforced by Redis; this column is informational.';


--
-- Name: discovery_queries; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.discovery_queries (
    query_id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    beckn_intent_id uuid NOT NULL,
    network_id character varying(100) NOT NULL,
    cache_hit boolean DEFAULT false NOT NULL,
    results_count integer DEFAULT 0 NOT NULL,
    queried_at timestamp without time zone DEFAULT now() NOT NULL,
    CONSTRAINT discovery_queries_results_count_check CHECK ((results_count >= 0))
);


ALTER TABLE public.discovery_queries OWNER TO postgres;

--
-- Name: TABLE discovery_queries; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.discovery_queries IS 'Record of each GET /discover call. cache_hit=TRUE means response served from Redis.';


--
-- Name: COLUMN discovery_queries.network_id; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.discovery_queries.network_id IS 'Beckn network ID queried, e.g. "ondc-prod-01".';


--
-- Name: erp_sync_records; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.erp_sync_records (
    sync_id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    po_id uuid NOT NULL,
    erp_system public.erp_system_type NOT NULL,
    sync_type public.erp_sync_type NOT NULL,
    status public.erp_sync_status DEFAULT 'pending'::public.erp_sync_status NOT NULL,
    erp_reference_id character varying(255),
    budget_available boolean,
    synced_at timestamp without time zone DEFAULT now() NOT NULL,
    CONSTRAINT chk_budget_check_field CHECK (((sync_type <> 'budget_check'::public.erp_sync_type) OR (budget_available IS NOT NULL)))
);


ALTER TABLE public.erp_sync_records OWNER TO postgres;

--
-- Name: TABLE erp_sync_records; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.erp_sync_records IS 'ERP sync record. budget_check is a blocking step; order blocked if budget_available=FALSE.';


--
-- Name: COLUMN erp_sync_records.erp_reference_id; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.erp_sync_records.erp_reference_id IS 'Object ID in ERP, e.g. SAP PO number. NULL until ERP creates the object.';


--
-- Name: COLUMN erp_sync_records.budget_available; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.erp_sync_records.budget_available IS 'Only populated for sync_type=budget_check. TRUE = sufficient budget exists.';


--
-- Name: model_governance_records; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.model_governance_records (
    record_id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    model_name public.model_name_type NOT NULL,
    model_version character varying(50) NOT NULL,
    provider public.ai_provider_type NOT NULL,
    accuracy_score double precision NOT NULL,
    override_rate double precision NOT NULL,
    evaluation_date date NOT NULL,
    status public.governance_status_type DEFAULT 'active'::public.governance_status_type NOT NULL,
    CONSTRAINT model_governance_records_accuracy_score_check CHECK (((accuracy_score >= (0.0)::double precision) AND (accuracy_score <= (1.0)::double precision))),
    CONSTRAINT model_governance_records_override_rate_check CHECK (((override_rate >= (0.0)::double precision) AND (override_rate <= (1.0)::double precision)))
);


ALTER TABLE public.model_governance_records OWNER TO postgres;

--
-- Name: TABLE model_governance_records; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.model_governance_records IS 'AI model version registry and weekly evaluation metrics. Feeds auto review_triggered status.';


--
-- Name: COLUMN model_governance_records.accuracy_score; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.model_governance_records.accuracy_score IS 'Thresholds: intent_parsing<0.95 | comparison_scoring<0.85 | negotiation_strategy<0.80 ÔåÆ review_triggered.';


--
-- Name: COLUMN model_governance_records.override_rate; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.model_governance_records.override_rate IS 'Thresholds: intent_parsing>0.10 | comparison_scoring>0.30 | negotiation_strategy>0.25 ÔåÆ review_triggered.';


--
-- Name: negotiation_outcomes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.negotiation_outcomes (
    negotiation_id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    score_id uuid NOT NULL,
    strategy_applied public.negotiation_strategy_type NOT NULL,
    initial_price numeric(15,2) NOT NULL,
    counter_offer_price numeric(15,2),
    final_price numeric(15,2) NOT NULL,
    discount_percent double precision DEFAULT 0.0 NOT NULL,
    acceptance_status public.acceptance_status_type NOT NULL,
    negotiated_at timestamp without time zone DEFAULT now() NOT NULL,
    CONSTRAINT negotiation_outcomes_counter_offer_price_check CHECK ((counter_offer_price > (0)::numeric)),
    CONSTRAINT negotiation_outcomes_discount_percent_check CHECK (((discount_percent >= (0.0)::double precision) AND (discount_percent <= (20.0)::double precision))),
    CONSTRAINT negotiation_outcomes_final_price_check CHECK ((final_price > (0)::numeric)),
    CONSTRAINT negotiation_outcomes_initial_price_check CHECK ((initial_price > (0)::numeric))
);


ALTER TABLE public.negotiation_outcomes OWNER TO postgres;

--
-- Name: TABLE negotiation_outcomes; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.negotiation_outcomes IS 'Negotiation Engine result via Beckn /select. Max discount 20% is a hard, non-bypassable constraint.';


--
-- Name: COLUMN negotiation_outcomes.strategy_applied; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.negotiation_outcomes.strategy_applied IS 'aggressive=commodities | accept_margin=within budget | advisory=high-value | escalate=gap too large | skipped=urgency.';


--
-- Name: COLUMN negotiation_outcomes.counter_offer_price; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.negotiation_outcomes.counter_offer_price IS 'NULL when strategy=skipped or strategy=advisory (no counter-offer sent).';


--
-- Name: parsed_intents; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.parsed_intents (
    intent_id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    request_id uuid NOT NULL,
    intent_class public.intent_class_type NOT NULL,
    confidence_score double precision NOT NULL,
    model_version character varying(50) NOT NULL,
    parsed_at timestamp without time zone DEFAULT now() NOT NULL,
    CONSTRAINT parsed_intents_confidence_score_check CHECK (((confidence_score >= (0.0)::double precision) AND (confidence_score <= (1.0)::double precision)))
);


ALTER TABLE public.parsed_intents OWNER TO postgres;

--
-- Name: TABLE parsed_intents; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.parsed_intents IS 'Stage-1 NL Intent Parser output: classification before Beckn field extraction.';


--
-- Name: COLUMN parsed_intents.intent_class; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.parsed_intents.intent_class IS 'Only procurement records advance to BecknIntent creation.';


--
-- Name: COLUMN parsed_intents.confidence_score; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.parsed_intents.confidence_score IS 'Classification probability [0.0ÔÇô1.0]. Target: >= 0.95 for intent_class=procurement.';


--
-- Name: procurement_requests; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.procurement_requests (
    request_id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    requester_id uuid NOT NULL,
    raw_input_text text NOT NULL,
    channel public.channel_type NOT NULL,
    urgency_flag boolean DEFAULT false NOT NULL,
    category character varying(100),
    status public.procurement_status DEFAULT 'draft'::public.procurement_status NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.procurement_requests OWNER TO postgres;

--
-- Name: TABLE procurement_requests; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.procurement_requests IS 'Root record of every purchase request; anchor of the entire agent decision chain.';


--
-- Name: COLUMN procurement_requests.raw_input_text; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.procurement_requests.raw_input_text IS 'Exact natural-language text submitted by the user, unmodified.';


--
-- Name: COLUMN procurement_requests.urgency_flag; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.procurement_requests.urgency_flag IS 'TRUE when text contains the URGENT: prefix ÔÇö activates emergency approval mode.';


--
-- Name: COLUMN procurement_requests.status; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.procurement_requests.status IS 'Lifecycle: draftÔåÆparsingÔåÆdiscoveringÔåÆscoringÔåÆnegotiatingÔåÆpending_approvalÔåÆconfirmed|cancelled.';


--
-- Name: purchase_orders; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.purchase_orders (
    po_id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    approval_id uuid NOT NULL,
    bpp_id uuid NOT NULL,
    item_id character varying(255) NOT NULL,
    quantity integer NOT NULL,
    unit character varying(50) NOT NULL,
    agreed_price numeric(15,2) NOT NULL,
    currency character(3) NOT NULL,
    delivery_terms text NOT NULL,
    beckn_confirm_ref character varying(255) NOT NULL,
    erp_po_ref character varying(255),
    status public.po_status_type DEFAULT 'pending'::public.po_status_type NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    CONSTRAINT purchase_orders_agreed_price_check CHECK ((agreed_price > (0)::numeric)),
    CONSTRAINT purchase_orders_quantity_check CHECK ((quantity > 0))
);


ALTER TABLE public.purchase_orders OWNER TO postgres;

--
-- Name: TABLE purchase_orders; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.purchase_orders IS 'Confirmed PO; created after approval + ERP budget validation. Triggers downstream Kafka pipeline.';


--
-- Name: COLUMN purchase_orders.beckn_confirm_ref; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.purchase_orders.beckn_confirm_ref IS 'Beckn protocol reference returned by the /confirm endpoint.';


--
-- Name: COLUMN purchase_orders.erp_po_ref; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.purchase_orders.erp_po_ref IS 'PO number assigned by SAP S/4HANA or Oracle ERP Cloud post-sync. NULL until ERP sync completes.';


--
-- Name: scored_offers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.scored_offers (
    score_id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    offering_id uuid NOT NULL,
    rank integer NOT NULL,
    total_score double precision NOT NULL,
    price_score double precision,
    delivery_score double precision,
    quality_score double precision,
    compliance_score double precision,
    tco_value numeric(15,2) NOT NULL,
    explanation_text text NOT NULL,
    user_overridden boolean DEFAULT false NOT NULL,
    model_version character varying(50) NOT NULL,
    scored_at timestamp without time zone DEFAULT now() NOT NULL,
    CONSTRAINT scored_offers_compliance_score_check CHECK (((compliance_score >= (0.0)::double precision) AND (compliance_score <= (100.0)::double precision))),
    CONSTRAINT scored_offers_delivery_score_check CHECK (((delivery_score >= (0.0)::double precision) AND (delivery_score <= (100.0)::double precision))),
    CONSTRAINT scored_offers_price_score_check CHECK (((price_score >= (0.0)::double precision) AND (price_score <= (100.0)::double precision))),
    CONSTRAINT scored_offers_quality_score_check CHECK (((quality_score >= (0.0)::double precision) AND (quality_score <= (100.0)::double precision))),
    CONSTRAINT scored_offers_rank_check CHECK ((rank > 0)),
    CONSTRAINT scored_offers_total_score_check CHECK (((total_score >= (0.0)::double precision) AND (total_score <= (100.0)::double precision)))
);


ALTER TABLE public.scored_offers OWNER TO postgres;

--
-- Name: TABLE scored_offers; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.scored_offers IS 'Scoring Engine output. explanation_text is GPT-4o generated; mandatory for audit trail.';


--
-- Name: COLUMN scored_offers.tco_value; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.scored_offers.tco_value IS 'Total Cost of Ownership over the contract period.';


--
-- Name: COLUMN scored_offers.user_overridden; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.scored_offers.user_overridden IS 'TRUE when user rejected this recommendation. Triggers recalibration if rate > 30% in 30-day window.';


--
-- Name: seller_offerings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.seller_offerings (
    offering_id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    query_id uuid NOT NULL,
    bpp_id uuid NOT NULL,
    item_id character varying(255) NOT NULL,
    price numeric(15,2) NOT NULL,
    currency character(3) NOT NULL,
    delivery_eta_hours integer NOT NULL,
    quality_rating double precision,
    certifications jsonb DEFAULT '[]'::jsonb NOT NULL,
    inventory_count integer,
    format_variant integer DEFAULT 1 NOT NULL,
    is_normalized boolean DEFAULT false NOT NULL,
    received_at timestamp without time zone DEFAULT now() NOT NULL,
    CONSTRAINT seller_offerings_delivery_eta_hours_check CHECK ((delivery_eta_hours > 0)),
    CONSTRAINT seller_offerings_format_variant_check CHECK (((format_variant >= 1) AND (format_variant <= 5))),
    CONSTRAINT seller_offerings_inventory_count_check CHECK ((inventory_count >= 0)),
    CONSTRAINT seller_offerings_price_check CHECK ((price > (0)::numeric)),
    CONSTRAINT seller_offerings_quality_rating_check CHECK (((quality_rating >= (0.0)::double precision) AND (quality_rating <= (5.0)::double precision)))
);


ALTER TABLE public.seller_offerings OWNER TO postgres;

--
-- Name: TABLE seller_offerings; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.seller_offerings IS 'Normalized BPP offering post GET /discover. Always in canonical schema regardless of source format.';


--
-- Name: COLUMN seller_offerings.format_variant; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.seller_offerings.format_variant IS 'Original BPP format (1ÔÇô5) before normalization, retained for traceability.';


--
-- Name: COLUMN seller_offerings.is_normalized; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.seller_offerings.is_normalized IS 'TRUE once the Catalog Normalizer has processed this record.';


--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    user_id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    email character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    role public.user_role NOT NULL,
    department character varying(100) NOT NULL,
    approval_threshold numeric(15,2) DEFAULT 0.00 NOT NULL,
    keycloak_id character varying(255) NOT NULL,
    idp_provider public.idp_provider_type NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    CONSTRAINT users_approval_threshold_check CHECK ((approval_threshold >= (0)::numeric))
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: TABLE users; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.users IS 'Persons interacting with the system. RBAC role determines operations and approval threshold.';


--
-- Name: COLUMN users.approval_threshold; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.users.approval_threshold IS 'Maximum amount in local currency the user can approve without escalation.';


--
-- Name: COLUMN users.keycloak_id; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.users.keycloak_id IS 'sub claim of the JWT issued by Keycloak / OIDC provider.';


--
-- Name: agent_memory_vectors agent_memory_vectors_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.agent_memory_vectors
    ADD CONSTRAINT agent_memory_vectors_pkey PRIMARY KEY (vector_id);


--
-- Name: approval_decisions approval_decisions_negotiation_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.approval_decisions
    ADD CONSTRAINT approval_decisions_negotiation_id_key UNIQUE (negotiation_id);


--
-- Name: approval_decisions approval_decisions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.approval_decisions
    ADD CONSTRAINT approval_decisions_pkey PRIMARY KEY (approval_id);


--
-- Name: audit_trail_events audit_trail_events_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_trail_events
    ADD CONSTRAINT audit_trail_events_pkey PRIMARY KEY (event_id);


--
-- Name: beckn_intents beckn_intents_intent_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.beckn_intents
    ADD CONSTRAINT beckn_intents_intent_id_key UNIQUE (intent_id);


--
-- Name: beckn_intents beckn_intents_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.beckn_intents
    ADD CONSTRAINT beckn_intents_pkey PRIMARY KEY (beckn_intent_id);


--
-- Name: bpp bpp_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bpp
    ADD CONSTRAINT bpp_pkey PRIMARY KEY (bpp_id);


--
-- Name: catalog_cache catalog_cache_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.catalog_cache
    ADD CONSTRAINT catalog_cache_pkey PRIMARY KEY (cache_key);


--
-- Name: discovery_queries discovery_queries_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.discovery_queries
    ADD CONSTRAINT discovery_queries_pkey PRIMARY KEY (query_id);


--
-- Name: erp_sync_records erp_sync_records_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.erp_sync_records
    ADD CONSTRAINT erp_sync_records_pkey PRIMARY KEY (sync_id);


--
-- Name: model_governance_records model_governance_records_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.model_governance_records
    ADD CONSTRAINT model_governance_records_pkey PRIMARY KEY (record_id);


--
-- Name: negotiation_outcomes negotiation_outcomes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.negotiation_outcomes
    ADD CONSTRAINT negotiation_outcomes_pkey PRIMARY KEY (negotiation_id);


--
-- Name: negotiation_outcomes negotiation_outcomes_score_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.negotiation_outcomes
    ADD CONSTRAINT negotiation_outcomes_score_id_key UNIQUE (score_id);


--
-- Name: parsed_intents parsed_intents_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.parsed_intents
    ADD CONSTRAINT parsed_intents_pkey PRIMARY KEY (intent_id);


--
-- Name: parsed_intents parsed_intents_request_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.parsed_intents
    ADD CONSTRAINT parsed_intents_request_id_key UNIQUE (request_id);


--
-- Name: procurement_requests procurement_requests_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.procurement_requests
    ADD CONSTRAINT procurement_requests_pkey PRIMARY KEY (request_id);


--
-- Name: purchase_orders purchase_orders_approval_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.purchase_orders
    ADD CONSTRAINT purchase_orders_approval_id_key UNIQUE (approval_id);


--
-- Name: purchase_orders purchase_orders_beckn_confirm_ref_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.purchase_orders
    ADD CONSTRAINT purchase_orders_beckn_confirm_ref_key UNIQUE (beckn_confirm_ref);


--
-- Name: purchase_orders purchase_orders_erp_po_ref_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.purchase_orders
    ADD CONSTRAINT purchase_orders_erp_po_ref_key UNIQUE (erp_po_ref);


--
-- Name: purchase_orders purchase_orders_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.purchase_orders
    ADD CONSTRAINT purchase_orders_pkey PRIMARY KEY (po_id);


--
-- Name: scored_offers scored_offers_offering_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.scored_offers
    ADD CONSTRAINT scored_offers_offering_id_key UNIQUE (offering_id);


--
-- Name: scored_offers scored_offers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.scored_offers
    ADD CONSTRAINT scored_offers_pkey PRIMARY KEY (score_id);


--
-- Name: seller_offerings seller_offerings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.seller_offerings
    ADD CONSTRAINT seller_offerings_pkey PRIMARY KEY (offering_id);


--
-- Name: model_governance_records uq_model_evaluation; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.model_governance_records
    ADD CONSTRAINT uq_model_evaluation UNIQUE (model_name, model_version, evaluation_date);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_keycloak_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_keycloak_id_key UNIQUE (keycloak_id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (user_id);


--
-- Name: idx_agent_memory_entity_type; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_agent_memory_entity_type ON public.agent_memory_vectors USING btree (entity_type);


--
-- Name: idx_agent_memory_request; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_agent_memory_request ON public.agent_memory_vectors USING btree (source_request_id) WHERE (source_request_id IS NOT NULL);


--
-- Name: idx_approval_decisions_approver; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_approval_decisions_approver ON public.approval_decisions USING btree (approver_id, status) WHERE (approver_id IS NOT NULL);


--
-- Name: idx_approval_decisions_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_approval_decisions_status ON public.approval_decisions USING btree (status) WHERE (status = ANY (ARRAY['pending'::public.approval_status_type, 'escalated'::public.approval_status_type]));


--
-- Name: idx_audit_events_po; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_audit_events_po ON public.audit_trail_events USING btree (po_id, event_timestamp) WHERE (po_id IS NOT NULL);


--
-- Name: idx_audit_events_request; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_audit_events_request ON public.audit_trail_events USING btree (request_id, event_timestamp) WHERE (request_id IS NOT NULL);


--
-- Name: idx_audit_events_splunk_pending; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_audit_events_splunk_pending ON public.audit_trail_events USING btree (splunk_indexed, event_timestamp) WHERE (splunk_indexed = false);


--
-- Name: idx_audit_events_type; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_audit_events_type ON public.audit_trail_events USING btree (event_type, event_timestamp);


--
-- Name: idx_bpp_network; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_bpp_network ON public.bpp USING btree (network_id);


--
-- Name: idx_discovery_queries_intent; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_discovery_queries_intent ON public.discovery_queries USING btree (beckn_intent_id, queried_at DESC);


--
-- Name: idx_erp_sync_pending; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_erp_sync_pending ON public.erp_sync_records USING btree (status, synced_at) WHERE (status = 'pending'::public.erp_sync_status);


--
-- Name: idx_erp_sync_po; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_erp_sync_po ON public.erp_sync_records USING btree (po_id, sync_type);


--
-- Name: idx_model_governance_name; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_model_governance_name ON public.model_governance_records USING btree (model_name, evaluation_date DESC);


--
-- Name: idx_model_governance_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_model_governance_status ON public.model_governance_records USING btree (status) WHERE (status <> 'deprecated'::public.governance_status_type);


--
-- Name: idx_procurement_requests_requester; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_procurement_requests_requester ON public.procurement_requests USING btree (requester_id, created_at DESC);


--
-- Name: idx_procurement_requests_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_procurement_requests_status ON public.procurement_requests USING btree (status) WHERE (status <> ALL (ARRAY['confirmed'::public.procurement_status, 'cancelled'::public.procurement_status]));


--
-- Name: idx_purchase_orders_bpp; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_purchase_orders_bpp ON public.purchase_orders USING btree (bpp_id, status) WHERE (status <> ALL (ARRAY['delivered'::public.po_status_type, 'cancelled'::public.po_status_type]));


--
-- Name: idx_purchase_orders_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_purchase_orders_status ON public.purchase_orders USING btree (status, created_at DESC);


--
-- Name: idx_scored_offers_overridden; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_scored_offers_overridden ON public.scored_offers USING btree (user_overridden, scored_at) WHERE (user_overridden = true);


--
-- Name: idx_seller_offerings_bpp; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_seller_offerings_bpp ON public.seller_offerings USING btree (bpp_id);


--
-- Name: idx_seller_offerings_query; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_seller_offerings_query ON public.seller_offerings USING btree (query_id);


--
-- Name: agent_memory_vectors agent_memory_vectors_source_request_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.agent_memory_vectors
    ADD CONSTRAINT agent_memory_vectors_source_request_id_fkey FOREIGN KEY (source_request_id) REFERENCES public.procurement_requests(request_id) ON DELETE SET NULL;


--
-- Name: approval_decisions approval_decisions_approver_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.approval_decisions
    ADD CONSTRAINT approval_decisions_approver_id_fkey FOREIGN KEY (approver_id) REFERENCES public.users(user_id) ON DELETE SET NULL;


--
-- Name: approval_decisions approval_decisions_negotiation_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.approval_decisions
    ADD CONSTRAINT approval_decisions_negotiation_id_fkey FOREIGN KEY (negotiation_id) REFERENCES public.negotiation_outcomes(negotiation_id) ON DELETE RESTRICT;


--
-- Name: approval_decisions approval_decisions_requester_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.approval_decisions
    ADD CONSTRAINT approval_decisions_requester_id_fkey FOREIGN KEY (requester_id) REFERENCES public.users(user_id) ON DELETE RESTRICT;


--
-- Name: audit_trail_events audit_trail_events_actor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_trail_events
    ADD CONSTRAINT audit_trail_events_actor_id_fkey FOREIGN KEY (actor_id) REFERENCES public.users(user_id) ON DELETE SET NULL;


--
-- Name: audit_trail_events audit_trail_events_po_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_trail_events
    ADD CONSTRAINT audit_trail_events_po_id_fkey FOREIGN KEY (po_id) REFERENCES public.purchase_orders(po_id) ON DELETE SET NULL;


--
-- Name: audit_trail_events audit_trail_events_request_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_trail_events
    ADD CONSTRAINT audit_trail_events_request_id_fkey FOREIGN KEY (request_id) REFERENCES public.procurement_requests(request_id) ON DELETE SET NULL;


--
-- Name: beckn_intents beckn_intents_intent_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.beckn_intents
    ADD CONSTRAINT beckn_intents_intent_id_fkey FOREIGN KEY (intent_id) REFERENCES public.parsed_intents(intent_id) ON DELETE CASCADE;


--
-- Name: catalog_cache catalog_cache_query_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.catalog_cache
    ADD CONSTRAINT catalog_cache_query_id_fkey FOREIGN KEY (query_id) REFERENCES public.discovery_queries(query_id) ON DELETE CASCADE;


--
-- Name: discovery_queries discovery_queries_beckn_intent_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.discovery_queries
    ADD CONSTRAINT discovery_queries_beckn_intent_id_fkey FOREIGN KEY (beckn_intent_id) REFERENCES public.beckn_intents(beckn_intent_id) ON DELETE RESTRICT;


--
-- Name: erp_sync_records erp_sync_records_po_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.erp_sync_records
    ADD CONSTRAINT erp_sync_records_po_id_fkey FOREIGN KEY (po_id) REFERENCES public.purchase_orders(po_id) ON DELETE RESTRICT;


--
-- Name: negotiation_outcomes negotiation_outcomes_score_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.negotiation_outcomes
    ADD CONSTRAINT negotiation_outcomes_score_id_fkey FOREIGN KEY (score_id) REFERENCES public.scored_offers(score_id) ON DELETE CASCADE;


--
-- Name: parsed_intents parsed_intents_request_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.parsed_intents
    ADD CONSTRAINT parsed_intents_request_id_fkey FOREIGN KEY (request_id) REFERENCES public.procurement_requests(request_id) ON DELETE CASCADE;


--
-- Name: procurement_requests procurement_requests_requester_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.procurement_requests
    ADD CONSTRAINT procurement_requests_requester_id_fkey FOREIGN KEY (requester_id) REFERENCES public.users(user_id) ON DELETE RESTRICT;


--
-- Name: purchase_orders purchase_orders_approval_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.purchase_orders
    ADD CONSTRAINT purchase_orders_approval_id_fkey FOREIGN KEY (approval_id) REFERENCES public.approval_decisions(approval_id) ON DELETE RESTRICT;


--
-- Name: purchase_orders purchase_orders_bpp_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.purchase_orders
    ADD CONSTRAINT purchase_orders_bpp_id_fkey FOREIGN KEY (bpp_id) REFERENCES public.bpp(bpp_id) ON DELETE RESTRICT;


--
-- Name: scored_offers scored_offers_offering_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.scored_offers
    ADD CONSTRAINT scored_offers_offering_id_fkey FOREIGN KEY (offering_id) REFERENCES public.seller_offerings(offering_id) ON DELETE CASCADE;


--
-- Name: seller_offerings seller_offerings_bpp_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.seller_offerings
    ADD CONSTRAINT seller_offerings_bpp_id_fkey FOREIGN KEY (bpp_id) REFERENCES public.bpp(bpp_id) ON DELETE RESTRICT;


--
-- Name: seller_offerings seller_offerings_query_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.seller_offerings
    ADD CONSTRAINT seller_offerings_query_id_fkey FOREIGN KEY (query_id) REFERENCES public.discovery_queries(query_id) ON DELETE RESTRICT;


--
-- PostgreSQL database dump complete
--

\unrestrict PxQbz9OoUWlYx13hBltzTaol8kyb14wns5gYIUMSHky8LNlYZdOtuiCgnspWzvw

